<script src="{{site.baseurl}}/assets/js/switch_theme.js"></script>
<nav>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            {% assign p_url = site.baseurl | append: item.link %}
            <a href="{{p_url}}"
                {% if page.url == p_url %}
                    class="current"
                {% endif %}
                >{{item.name}}</a>
                {{page.url}} - {{p_url}}
        </li>
        {% endfor %}
        <li>
            <button id="switch-theme">Theme</button>
        </li>
    </ul>
</nav>